body {
    background-color: #2D3142;
    color: #E9EBF8;
    font-family: 'Roboto', sans-serif;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 0px 20px;
    position: relative;
  }

  nav a {
      text-decoration: none;
  }