<!DOCTYPE html>
    <head>
        <title>Profile Page</title>
        <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist 2/css/bootstrap.min.css">
        <script src="../static/bootstrap-5.0.2-dist 2/js/bootstrap.min.js"> </script>
    </head>
    <body>
       <div>
        <ul>
            <li><a class="homepage" href="{{ url_for('index') }}">AniMates</a></li>
            <li><a href="{{ url_for('logout') }}"><input type="button" value="LogOut"></a></li>
        </ul>

       </div>
    </body>